.App {
  text-align: center;
  background-color: aquamarine;
}

.App-logo {
  height: 120px;
  width: 50%;
  pointer-events: none;
}

.App-Body {
  min-height: 76vh;
  display: flex;
  flex-direction: column;
}

.App-Footer {
  text-align: center;
  background-color: rgba(132, 187, 31, 0.61);
  min-height: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
